# Application
web/app/plugins/*
!web/app/plugins/dingo_custom_fields
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Logs
*.log
yarn.lock
web/app/themes/wpdingorestaurant/ressources/yarn.*

# Dotenv
.env
.env.*
!.env.example

# Dependencies
/vendor
/node_modules/
/web/app/themes/wpdingorestaurant/ressources/node_modules

# WP-CLI
wp-cli.local.yml
