/************** menu part start *****************/

.site-top {
    position: relative;
}

.home_menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;

    .main-menu-item {
        padding-right: 100px;
    }

    .menu_btn {
        &:hover a {
            color: $white-color !important;
        }
    }
}

.main_menu {
    @media (max-width: 992px) {
        .container.full {
            width: 100%;
            max-width: 100%;
        }
    }

    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar {
        padding: 22px 0;
    }

    .main-menu-item {
        text-align: center !important;
        justify-content: center !important;

        ul {
            li a {
                color: $menu_color !important;
                font-size: 16px;
                padding: 0 22px !important;
                font-family: $font_stack_1;

                @media #{$medium_device} {
                    padding: 0 16px !important;
                }

                @media #{$tab_device} {
                    padding: 10px 16px !important;
                }

                @media #{$large_mobile} {
                    padding: 10px 16px !important;
                }

                @media #{$small_mobile} {
                    padding: 10px 16px !important;
                }

                &:hover {
                    color: $btn_bg !important;
                }
            }
        }
    }
}

.menu_fixed {
    position: fixed;
    z-index: 9999 !important;
    width: 100%;
    background-color: $white-color;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .05);
    top: 0;

    span {
        color: #000 !important;
    }

    .btn_1 {
        border: 2px solid $btn_bg;

        &:hover {
            border: 2px solid transparent;
        }
    }

    .main-menu-item {
        padding-right: 0;
    }
}

.dropdown-menu {
    border: 0 solid rgba(0, 0, 0, .15) !important;
    background-color: #fafafa;
}

.dropdown {
    .dropdown-menu {
        transition: all .5s;
        overflow: hidden;
        transform-origin: top center;
        transform: scale(1, 0);
        display: block;
        margin-top: 18px;

        .dropdown-item {
            font-size: 14px;
            padding: 9px 18px !important;
            font-family: "Lora", serif;
        }
    }

    &:hover {
        .dropdown-menu {
            transform: scale(1);
        }
    }
}

@media #{$small_mobile} {
    .navbar-brand img {
        max-width: 100px;
    }

    .navbar-light .navbar-toggler {
        border-color: transparent;
        position: absolute;
        right: 0;
    }

    .navbar-collapse {
        z-index: 9999 !important;
        position: absolute;
        left: 0;
        top: 85px;
        width: 100%;
        background-color: $white-color;
        text-align: center !important;
    }

    .main_menu .main-menu-item {
        text-align: left !important;
    }

    .dropdown {
        .dropdown-menu {
            transform: scale(1, 0);
            display: none;
        }

        &:hover {
            .dropdown-menu {
                transform: scale(1);
                display: block;
            }
        }
    }
}

@media #{$large_mobile} {
    .navbar-light .navbar-toggler {
        border-color: transparent;
        position: absolute;
        right: auto;
        left: 0;
    }

    .navbar {
        .navbar-brand {
            text-align: center;
            margin: 0 auto;
            padding-left: 16%;
        }
    }

    .navbar-collapse {
        z-index: 9999 !important;
        position: absolute;
        left: 0;
        top: 90px;
        width: 100%;
        background-color: $white-color;
        text-align: center !important;
    }

    .main_menu .main-menu-item {
        text-align: left !important;

        .nav-item {
            padding: 3px 15px !important;
        }
    }

    .dropdown {
        .dropdown-menu {
            transform: scale(1, 0);
            display: none;
        }

        &:hover {
            .dropdown-menu {
                transform: scale(1);
                display: block;
            }
        }
    }
}

@media #{$tab_device} {
    .navbar-light .navbar-toggler {
        border-color: transparent;
        position: absolute;
        right: auto;
        left: 0;
    }

    .navbar {
        .navbar-brand {
            text-align: center;
            margin: 0 auto;
            padding-left: 16%;
        }
    }

    .navbar-collapse {
        z-index: 9999 !important;
        position: absolute;
        left: 0;
        top: 90px;
        width: 100%;
        background-color: $white-color;
        text-align: center !important;
    }

    .main_menu .main-menu-item {
        text-align: left !important;
        height: calc(100vh - 90px);
        padding-right: 0;

        .nav-item {
            padding: 3px 15px !important;
            margin: 10px 0;
            text-align: center;

            .nav-link {
                font-size: 20px;
            }
        }

        .dropdown {
            .dropdown-menu {
                transform: scale(1, 0);
                display: none;
            }

            &:hover {
                .dropdown-menu {
                    transform: scale(1);
                    display: block;
                }
            }
        }
    }

    @media #{$medium_device} {
        .dropdown {
            .dropdown-menu {
                transform: scale(1, 0);
                display: none;
            }

            &:hover {
                .dropdown-menu {
                    transform: scale(1);
                    display: block;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .main_menu .main-menu-item {
        height: calc(100vh - 90px);
        width: calc(100% + 30px);
        padding-right: 0;
        margin-right: -15px;
        margin-left: -15px;
        align-items: center;

        &.show {
            display: flex;

            .navbar-nav {
                display: flex;
            }
        }

        .navbar-nav {
            display: none;
        }
    }

    .main_menu .main-menu-item .nav-item .nav-link {
        font-size: 20px;
    }
}



/************** burger menu *****************/
.navbar-toggler {
    width: 30px;
    height: 30px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #8a8a8a;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2) {
            top: 12px;
        }

        &:nth-child(3) {
            top: 24px;
        }
    }

    &.open {
        span:nth-child(1) {
            top: 12px;
            transform: rotate(135deg);
        }

        span:nth-child(2) {
            opacity: 0;
            left: -60px;
        }

        span:nth-child(3) {
            top: 13px;
            transform: rotate(-135deg);
        }
    }
}
